/* Layout */
.resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
    max-width: 1100px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    padding: 3rem;
}

.resume__main {
    border-right: 1px dashed #e0e0e0;
    padding-right: 2rem;
}

/*Header section*/

.resume__subtitle {
    font-weight: 400;
    color: #888;
}

.resume__title {
    font-size: 3rem;
    font-weight: 700;
    color: #333;
    margin: 0.5rem 0;
}

.resume__about {
    color: #666;
    margin: 0 0 3rem 0;
}

.resume__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Titles section*/

.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin: 1rem 0;
    display: flex;
    align-items: center;
}

.section-title::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #d81b1b;
    border-radius: 50%;
    margin-right: 0.5rem;
}

/*Projects section*/

.projects {
    margin-bottom: 2rem;
}

.projects__list {
    padding-left: 3rem;
    color: #333;
}

.projects__item {
    margin: 0 0 0.5rem 0;
    line-height: 1.4;
    font-size: 1rem;
    color: #555;
}

.projects__link {
    color: #d81b1b;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
}

.projects__link:hover,
.projects__link:focus {
    color: #a11212;
    transform: translateX(4px);
}


/*Experience section*/

.job__header {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
}

.job__position {
    font-weight: 600;
    color: #333;
}

.job__company {
    color: #424141;
    margin-left: 0.5rem;
}

.job__duration {
    font-size: 0.9em;
    color: #888;
}

.job__responsibilities {
    padding-left: 3rem;
    list-style-type: disc;
    color: #888;
    margin: 2rem 0;
}

/*Education section*/

.education__entry {
    margin: 0 0 1rem 0;
}

.education__school {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
}

.education__field {
    color: #424141;
}

.education__duration {
    font-size: 0.9em;
    color: #888;
}


/*Sidebar section*/

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar__photo-container {
    text-align: center;
    margin: 0 0 1.2rem 0;
}

.sidebar__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


/*Contacts section*/

.contacts__location,
.contacts__tel,
.contacts__email {
    font-size: 0.9em;
    color: #666;
}


/*Skills & Languages sections*/

.skills__list,
.languages__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.skills__item,
.languages__item {
    font-size: 0.9em;
    color: #555;
    background-color: #f5f5f5;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    margin: 0 0 0.5rem 0;
}


/*Links section*/

.links__linkedin,
.links__github {
    display: block;
    font-size: 0.9em;
    color: #d81b1b;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: transform 0.2s ease, color 0.2s ease;
}

.links__linkedin:hover,
.links__linkedin:focus,
.links__github:hover,
.links__github:focus {
    transform: translateX(5px);
    color: #a11212;
}


/*Responsive*/

@media (max-width: 992px) {
    .resume {
        grid-template-columns: 1fr;
        gap: 1.5rem;
        text-align: center;
    }

    .resume__main {
        border-right: none;
        padding-right: 0;
    }

    .resume__main,
    .sidebar {
        display: contents;
    }

    .resume__header {
        grid-row: 1;
        text-align: center;
    }

    .section-title {
        display: block;
    }

    .section-title::after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: #d81b1b;
        border-radius: 50%;
        margin-left: 0.5rem;
    }

    .sidebar__top {
        grid-row: 2;
    }

    .resume__info {
        grid-row: 3;
    }

    .job__header,
    .education__school {
        justify-content: center;
    }

    .projects__list,
    .job__responsibilities {
        list-style: none;
        padding: 0;
    }

    .sidebar__bottom {
        grid-row: 4;
    }

    .experience {
        background-color: #f5f5f5;
        border-radius: 5px;
    }
}

@media (max-width: 430px)  {
    .resume {
        padding:1.5rem;
    }

    .resume__subtitle {
        font-size: 1rem;
    }

    .resume__title{
        font-size: 2rem;
    }

    .resume__header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}
